body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

li{
    font-size: 20px;
    list-style: none;
    margin-right: 20px;

}
.menu img{
    width: 180px;
    margin: 25px;
    
}
.menu{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color: white;
    height: 80px;
    
}
ul{
    display: flex;

}

.music{
    color: aliceblue;
    align-self: center;
    text-align: center;
    margin-top: 200px;
}

.music h1{
    font-size: 80px;
}
.music h2{
    font-size: 28px;
    font-weight: 100;
    width: 50%;
    margin-left: 25%;
    line-height: 35px;
}
header{
    background-image: url('/images/landing.jpg');
    height: 130vh;
    background-size: cover;
    margin: auto;   
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;

}
.contenedor h1{
    display: flex;
    justify-content: center;
    font-size: 35px;
    border-bottom: solid 4px  rgb(25, 186, 113);
    padding-bottom: 4px;
}

.bloques{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.bloque{
    width: 250px;
}

.bloques img{
    height: 100px;
}
.bloques h3{
    color:  rgb(25, 186, 113);
    margin: 8px;
    font-size: 25px;
}

.bloques p{
    font-size: 20px;
    line-height: 25px;
    margin-top: 20px;
    justify-content: center;
}

.blueBlock{
    background-color:#00B172;
    color:#FFF;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    position: relative;
    height: 500px;
    padding: 65px;
}

.screenshot{
    height: 500px;
    display: flex;
    margin-top: 30px;
}

.underline1{
    display: flex;
    justify-content: center;
}

.underline1 h2{
    border-bottom: solid 4px #00B172;
    padding-bottom: 4px;
}

.underline2 h2{
    text-decoration: underline;
    text-underline-offset: 10px;
    font-size: 32px;
    margin-bottom: 30px; 
}

.grouptextFooter{
    display: flex;
    flex-direction: column;
}

.logoWhite{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 46%;
    left: 46%;
}

.screenshot img {
    width: 100%;
}

.textFooter{
    width: 35%;
    font-size: 18px;
    line-height: 30px;
}

.textFooter h3{
    font-size: 23px;
}